.CategoryMenu{
    margin-top: 32px;
    display: flex;
    column-gap: 24px;
}

.categories{
    display: flex;
    flex-direction: column ;
    row-gap: 10px;
}
.categories > a {
    color: rgb(0, 165, 110);
}
.CommonOptionSec{
    width: 300px;
    height: 280px;
    margin-left: 80px;
}
.CommonOptionSec > .title{
    margin: 16px 0px 16px 0px;
}
.CommonOptionSec > .title > span{
    font-weight: bold;
    font-size: 20px;
}
.CommonOptionSec > button{
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 32px;
}   
.CommonOptionSec > button > span{
    font-size:16px;
    font-weight: bold;
    margin-left:8px;
}
.CommonOptionSec > button> .icon{
    margin:0px 8px 0px 8px;
}


.BannerSubFocus{
    border-radius: 16px;
    background-color: aquamarine;
    width: 360px;
    height: 280px;
    display: grid;
    grid-template-rows: auto auto;
}
.BannerSubFocus > button{
    align-self: end;
    background-color: transparent;
    border: 3px solid rgb(56, 56, 56);
    height: 40px;
    border-radius: 10px;
    margin:16px 0px 32px 16px;
    width: fit-content;
}
.BannerSubFocus > button > a{
    text-decoration: none;
    color:rgb(56, 56, 56);
    font-weight: bold;
}
.BannerSubFocus >  button > .icon{
    margin:0px 8px 0px 8px;
}
.BannerSubFocus > .txt-area{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.BannerSubFocus >.txt-area{
    margin:40px 0px 0px 16px;
}
.BannerSubFocus >.txt-area >.primary-txt{
    font-weight: bold;
    font-size: 20px;
}

.BestSellingProducts{
    margin-top: 48px;
    display: flex;
    column-gap: 24px;
}
.ProductSect{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 16px;
    display: grid;
    height: 280px;
    width: 240px;
    background-color: transparent;
    grid-template-rows: auto auto auto;
}
.ProductSect > img{
    width: 90%;
    border-radius:16px;
    display: block;
    margin: 10px auto 0px auto;
}

.ProductSect > .titleDescription{
    margin: 0px 0px 0px 16px;
    display: flex;
    flex-direction: column;
}
.ProductSect > .titleDescription > .productTitle {
    font-weight: bold;
    font-size: 16px;
}
.ProductSect > .titleDescription > .productDescrip {
    font-size: 12px;
}

.ProductSect > .buyingSection {
    display: grid;
    grid-template-columns: auto auto;
}
.ProductSect > .buyingSection >.price{
    margin: 0px 0px 0px 16px;
    align-self: center;

}
.ProductSect > .buyingSection >.price>span{
    font-weight: bold;
    font-size: 20px;
}
.ProductSect > .buyingSection >.btn-buy{
    width: fit-content;
    height: fit-content;
    padding:10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    border-color: rgb(0, 92, 61);
    background-color: rgb(0, 169, 73);
    align-self: center;
}

.BestFromFarmers {
    margin-top: 48px;
    display: flex;
}