.CategoryMenu{
    margin-top: 32px;
    display: flex;
    column-gap: 24px;
}
.categories{
    display: flex;
    flex-direction: column ;
    row-gap: 10px;
}
.categories > a {
    color: rgb(0, 165, 110);
}
.CommonOptionSec{
    width: 300px;
    height: 280px;
    margin-left: 80px;
}
.CommonOptionSec > .title{
    margin: 16px 0px 16px 0px;
}
.CommonOptionSec > .title > span{
    font-weight: bold;
    font-size: 20px;
}
.CommonOptionSec > button{
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 32px;
}   
.CommonOptionSec > button > span{
    font-size:16px;
    font-weight: bold;
    margin-left:8px;
}
.CommonOptionSec > button> .icon{
    margin:0px 8px 0px 8px;
}


.BannerSubFocus{
    border-radius: 16px;
    background-color: aquamarine;
    width: 360px;
    height: 280px;
    display: grid;
    grid-template-rows: auto auto;
}
.BannerSubFocus > button{
    align-self: end;
    background-color: transparent;
    border: 3px solid rgb(56, 56, 56);
    height: 40px;
    border-radius: 10px;
    margin:16px 0px 32px 16px;
    width: fit-content;
}
.BannerSubFocus > button > a{
    text-decoration: none;
    color:rgb(56, 56, 56);
    font-weight: bold;
}
.BannerSubFocus >  button > .icon{
    margin:0px 8px 0px 8px;
}
.BannerSubFocus > .txt-area{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.BannerSubFocus >.txt-area{
    margin:40px 0px 0px 16px;
}
.BannerSubFocus >.txt-area >.primary-txt{
    font-weight: bold;
    font-size: 20px;
}

.BestSellingProducts{
    margin-top: 48px;
    display: flex;
    column-gap: 24px;
}
.ProductSect{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 16px;
    display: grid;
    height: 280px;
    width: 240px;
    background-color: transparent;
    grid-template-rows: auto auto auto;
}
.ProductSect > img{
    width: 90%;
    border-radius:16px;
    display: block;
    margin: 10px auto 0px auto;
}
.ProductSect > .titleDescription{
    margin: 0px 0px 0px 16px;
    display: flex;
    flex-direction: column;
}
.ProductSect > .titleDescription > .productTitle {
    font-weight: bold;
    font-size: 16px;
}
.ProductSect > .titleDescription > .productDescrip {
    font-size: 12px;
}
.ProductSect > .buyingSection {
    display: grid;
    grid-template-columns: auto auto;
}
.ProductSect > .buyingSection >.price{
    margin: 0px 0px 0px 16px;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.ProductSect > .buyingSection >.price>.current-price{
    font-weight: bold;
    font-size: 20px;
}
.ProductSect > .buyingSection >.price>.old-price{
    font-weight: bold;
    font-size: 13px;
    color:rgb(174, 174, 174);
    text-decoration: line-through;
}
.ProductSect > .buyingSection >.btn-buy{
    width: fit-content;
    height: fit-content;
    padding:10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    border-color: rgb(0, 92, 61);
    background-color: rgb(0, 169, 73);
    align-self: center;
}
.BestFromFarmers {
    margin-top: 48px;
    display: flex;
    column-gap: 24px;
}

.Testimonials{
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
}
.Testimonysec{
    display: flex;
    column-gap: 24px;
    margin-top: 24px;
    height: 190px;
}
.Testimonysec > .arrowLeft{
    z-index: 1;
    position: absolute;
    width: 120px;
    height: 190px;
    box-shadow: inset 40px 0px 35px rgba(255, 255, 255, 0.9);
}
.Testimonysec > .arrowLeft > .arrowBox{
    margin: 50% auto 0px 0px;
    height: 48px;
    width: 24px;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Testimonysec > .arrowLeft > .arrowBox > .icon{
    color:white;
    margin-top: 10px;
    text-align: center;
    padding-top: 45%;
}
.Testimonysec > .arrowRight{
    z-index: 1;
    position: absolute;
    right:0;
    width: 100px;
    height: 190px;
    box-shadow: inset -40px 0px 35px rgba(255, 255, 255, 0.9);
}
.Testimonysec > .arrowRight > .arrowBox{
    margin: 50% 0px 0px auto;
    height: 48px;
    width: 24px;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Testimonysec > .arrowRight > .arrowBox > .icon{
    color:white;
    margin-top: 10px;
    text-align: center;
    padding-top: 45%;
}
.TestimonyBox{
    
    position: relative;
    width: 280px;
    height: 160px;
    border-radius: 20px;
    background-color: aqua;
}
.TestimonyBox > .text{
    width: fit-content;
    height: fit-content;text-align: center;
    font-size: 15px;
    padding: 10px 8px 8px 8px ;
}
.TestimonyBox > .nameSurname{
    text-align: center;
    opacity: 0.7;
}
.TestimonyBox > .img {
    position: absolute;
    top: 85%;
    left: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    margin : 0px auto 0px auto;
}
.TestimonialsUpperSec{
    
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.TestimonialsUpperSec > .btnTestimonies {
    justify-self: end;
    margin-right: 60px;
}
.TestimonialsUpperSec > p{
    margin-left: 80px;
    
}


.SectionHeadlines{
    height: 200px;
}