.Title {
    height: 200px;
    margin-left: 80px;
    margin-top: 200px;
}

.Title>.CategoryPath {
    height: 25px;
}

.Title>.CategoryPath>p>span {
    opacity: 0.5;
}

.Title>.choosenCategory {
    display: grid;
    grid-template-columns: auto auto;
}

.Title>.choosenCategory>.ViewStyle {
    margin-right: 80px;
    justify-self: end;
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.Title>.choosenCategory>.ViewStyle>.gridView {
    cursor: pointer;
}

.Title>.choosenCategory>.ViewStyle>.listView {
    cursor: pointer;
}

.Title>.choosenCategory>.ViewStyle>.productAvailable>span {
    background-color: rgba(0, 153, 102, 0.2);
    border-radius: 10px;
    padding: 0px 6px 2px 6px;
    color: rgb(0, 117, 78);
    font-weight: bold;
}

.Title>.filters {
    display: flex;
    width: 100%;
    column-gap: 16px;
}

.Title>.filters>div {
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    border: 2px solid rgb(205, 205, 205);
}

.Title>.filters>.filter1 {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.Title>.filters>.filter1>span {
    margin-bottom: 2px;
}

.Title>.filters>.filter1>.circle {
    border: 2px solid rgb(205, 205, 205);
    border-radius: 50%;
    color: transparent;
}

.Title>.filters>.filter2 {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.Title>.filters>.filter2>span {
    margin-bottom: 2px;
}

.Title>.filters>.filter2>.square {
    color: transparent;
    border: 2px solid rgb(205, 205, 205);
}

.Title>.filters>.filter2>.nbm {
    border: 2px solid rgb(205, 205, 205);
    font-size: 12px;
    border-radius: 10px;
    padding: 0px 2px 0px 2px;
    font-weight: bold;
}

.Title>.filters>.filter3 {
    width: fit-content;
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.Title>.filters>.filter3>.leftSide {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.Title>.filters>.filter3>.leftSide>span {
    padding-bottom: 2px;
}

.Title>.filters>.filter3>span {
    padding-bottom: 2px;
}

.Title>.filters>.filter3>.selectSection {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.Title>.filters>.filter3>.selectSection>.selectArrow {
    font-size: 10px;
}

.Title>.filters>.filter3>.leftSide>.squareCheck {
    color: rgb(0, 148, 99);
    font-size: 20px
}

.appliedFilters {
    margin-top: 16px;
    display: flex;
    column-gap: 8px;
}

.selectedFilters {
    background-color: aquamarine;
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.selectedFilters>span {
    color: rgb(0, 109, 73);
    font-weight: bold;
    font-size: 14px;
}

.selectedFilters>i {
    color: rgb(155, 155, 155);
    margin-top: 4px;
    font-size: 10px;
    align-self: center;
}


.SearchSection {
    height: fit-content;
    display: grid;
    grid-template-columns: auto 70%;
}

.ProductSearchResults {
    margin-right: 40px;
}

.ProductDisplay {
    border: 2px solid rgb(173, 173, 173);
    margin: 16px;
    height: 250px;
    display: grid;
    grid-template-columns: auto 35% auto;
    column-gap: 24px;
    border-radius: 10px;
    background-color: azure;
}

.ProductDisplay>img {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height: inherit;
    width: 300px;
}

.ProductDisplay>.middleSection>.productNameRating {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-top: 10px;
}

.ProductDisplay>.middleSection>.productNameRating>.productTitle {
    font-weight: bold;
    font-size: 20px;
}

.ProductDisplay>.middleSection>.productInfo {
    display: flex;
    column-gap: 32px;
    margin-top: 32px;
}

.ProductDisplay>.middleSection>.productInfo>.leftSide {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.ProductDisplay>.middleSection>.productInfo>.rightSide {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.ProductDisplay>.buySection {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.ProductDisplay>.buySection>.PriceSection {
    display: flex;
    flex-direction: column;
}

.ProductDisplay>.buySection>.PriceSection>.price {
    font-weight: bold;
    font-size: 20px;
}

.ProductDisplay>.buySection>.PriceSection {
    margin-top: 10px;
}

.ProductDisplay>.buySection>.PriceSection>.discount {
    font-size: 13px;
    text-decoration: line-through;
    font-weight: bold;
    opacity: 0.5;
}

.ProductDisplay>.buySection>.deliveryInfo {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
}

.ProductDisplay>.buySection>.deliveryInfo>.shippingStatus {
    font-weight: bold;
}

.ProductDisplay>.buySection>.deliveryInfo>.shippingDelay {
    font-size: 13px;
}

.ProductDisplay>.buySection>.addToWishList {
    display: flex;
    flex-direction: column;
}

.ProductDisplay>.buySection>.addToWishList>.btnproductDetails {
    color: white;
    border: 2px solid;
    font-weight: bold;
    padding: 8px 16px 10px 16px;
    width: fit-content;
    background-color: rgb(16, 155, 109);
    border-radius: 10px;
}

.ProductDisplay>.buySection>.addToWishList>.btnproductDetails>.btnProductDetailsLink {
    text-decoration: none;
    color: white;
}

.ProductDisplay>.buySection>.addToWishList>.btnproductDetails:hover .btnProductDetailsLink {
    cursor: pointer;
    animation: link;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes link {
    100% {
        color: rgb(0, 92, 61);
    }
}

.ProductDisplay>.buySection>.addToWishList>.btnproductDetails:hover {
    cursor: pointer;
    animation: productDetails;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes productDetails {
    100% {
        background-color: white;
        color: rgb(0, 92, 61);
        border: 2px solid rgb(0, 92, 61);
    }
}

.ProductDisplay>.buySection>.addToWishList>.btnproductDetails>i {
    font-size: 12px;
}

.ProductDisplay>.buySection>.addToWishList>.btnWishList {
    cursor: pointer;
    display: flex;
    column-gap: 5px;
    margin-top: 8px;
    width: fit-content;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 8px 16px 10px 16px;
}

.ProductDisplay>.buySection>.addToWishList>.btnWishList:hover {
    animation: wishBtn 0.4s forwards ease-out;
}

@keyframes wishBtn {
    100% {
        background-color: white;
        color: rgb(0, 92, 61);
        border: 2px solid rgb(0, 92, 61);
    }
}

.LeftSideFilters {
    padding: 0px 0px 0px 80px;
}

.LeftSideFilters>.priceSettings>.PriceRange {
    display: flex;
}

.LeftSideFilters>.priceSettings>.PriceRange>.maxPrice {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    font-size: 12px;
    font-weight: bold;
}

.LeftSideFilters>.priceSettings>.PriceRange>.minPrice {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
}

.LeftSideFilters>.priceSettings>.PriceRange>.minPrice>span {
    margin-left: 4px;
}

.LeftSideFilters>.priceSettings>.PriceRange>.maxPrice>span {
    margin-left: 4px;
}

.LeftSideFilters>.priceSettings>.PriceRange>.minPrice>input {
    width: 64px;
    height: 32px;
    border-radius: 10px;
    outline: none;
    border: 2px solid gray;
}

.LeftSideFilters>.priceSettings>.PriceRange>.maxPrice>input {
    width: 64px;
    height: 32px;
    border-radius: 10px;
    outline: none;
    border: 2px solid gray;
}

.LeftSideFilters>.submittingFilter {
    display: flex;
    column-gap: 10px;
    margin-top: 16px;
    font-weight: bold;
}

.LeftSideFilters>.submittingFilter>.apply {
    background-color: rgb(0, 146, 97);
    width: fit-content;
    padding: 6px 10px 10px 10px;
    border-radius: 10px;
    border: 3px solid green;
    color: white;
}

.LeftSideFilters>.submittingFilter>.reset {
    background-color: rgb(212, 212, 212);
    padding: 10px 10px 10px 10px;
    width: fit-content;
    border-radius: 10px;
    color: rgb(101, 101, 101);
}

.LeftSideFilters>.Ratings>.rating {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.LeftSideFilters>.Ratings>.rating>.level>.box {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    border: 2px solid rgb(182, 180, 180);
}

.LeftSideFilters>.Ratings>.rating>.level>.stars {
    display: flex;
    column-gap: 5px;
}


.LeftSideFilters>.Ratings>.rating>.level {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.LeftSideFilters>.Brands {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.LeftSideFilters>.Brands>.brand {
    display: flex;
    column-gap: 10px;
}

.LeftSideFilters>.Brands>.brand>.box {
    height: 20px;
    width: 20px;
    border: 2px solid rgb(191, 191, 191);
    border-radius: 5px;
}

.LeftSideFilters>.categories {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.LeftSideFilters>.categories>.category {
    display: grid;
    grid-template-columns: auto auto;
    width: 64%;
    font-weight: bold;
}

.LeftSideFilters>.categories>.category>.availableElm {
    justify-self: end;
    width: auto;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    color: rgb(0, 135, 54);
}

.BottomNavigation {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
}

.BottomNavigation>.page {
    display: flex;
    column-gap: 10px;
    margin-left: 80px;
    align-self: center;
}

.BottomNavigation>.moreProducts {
    color: white;
    display: flex;
    justify-self: center;
    column-gap: 5px;
    width: fit-content;
    height: fit-content;
    padding: 7px 16px 10px 16px;
    background-color: rgb(32, 148, 57);
    border-radius: 10px;
    font-weight: bold;
}

.BottomNavigation>.moreProducts>i {
    margin-top: 3px;
    font-size: 13px;
}

.BottomNavigation>.allProductFound {
    display: flex;
    column-gap: 6px;
    justify-self: end;
    margin-right: 20px;
    align-self: center;
}

.BottomNavigation>.allProductFound>.product {
    align-self: center;
    font-size: 12px;
}

.BottomNavigation>.allProductFound>.num {
    color: rgb(15, 167, 48);
    width: fit-content;
    height: fit-content;
    background-color: rgb(167, 255, 186);
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    font-weight: bold;
}

.productDisplayGrid {
    margin-right: 40px;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
}

.productDisplayGrid>.mainBox {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: fit-content;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 10px;
    row-gap: 10px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.productDisplayGrid>.mainBox>.buyingSection {
    display: flex;
    column-gap: 16px;
}

.productDisplayGrid>.mainBox>.buyingSection>.btn-buy {
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    background-color: rgb(0, 187, 124);
    font-weight: bold;
    color: white;
}

.productDisplayGrid>.mainBox>.buyingSection>.price {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.productDisplayGrid>.mainBox>.buyingSection>.price>.old-price {
    text-decoration: line-through;
    font-size: 12px;
}

.productDisplayGrid>.mainBox>.description {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.productDisplayGrid>.mainBox>.description>.title{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.productDisplayGrid>.mainBox>img {
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
}