.productDisplay{
    margin-top: 180px;
    display: grid;
    grid-template-columns: auto 50%;
    padding-left: 80px;
}
.shortDescription{
    width: 650px;
}
.extraDetails{
    display: flex;
    column-gap: 32px;
}
.extraDetails>.leftSec{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.extraDetails>.rightSec{

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.moreDescription{
    display: flex;
    column-gap: 48px;
}
.addToCart{
    margin-top: 24px;
    display: flex;
    height: 72px;
    width: 500px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    column-gap: 64px;
}
.addToCart>.price{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 16px;
}
.addToCart>.price>.currentPrice{
    color: rgb(0, 139, 28);
    font-size: 20px;
    font-weight: bold;
}
.addToCart>.price>.oldPrice{
    font-weight: bold;
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 13px;
}
.addToCart>.addToCartOptions{
    align-self: center;
}
.addToCart>.addToCartOptions>.btnAddToCart{
    background-color: rgb(0, 139, 28);
    height: fit-content;
    padding: 6px 16px 8px 16px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.addToCart>.addToCartOptions>.btnAddToCart>span{
    font-size: 20px;
}
.addToCart>.addToCartOptions{
    display: flex;
    column-gap: 24px;
}
.addToCart>.addToCartOptions>.piecesToAdd{
    background-color: rgb(213, 213, 213);
    border-radius: 10px;
    width: 100px;
    display: flex;
    column-gap: 20px;
    padding-left: 20px;
}
.addToCart>.addToCartOptions>.piecesToAdd>span{
    align-self: center;
}
.addToCart>.addToCartOptions>.piecesToAdd>.pieces{
    align-self: center;
}
.addToCart>.addToCartOptions>.piecesToAdd>.pieces>.arrowDown{
    font-size: 12px;
    margin-bottom: 1px;
    margin-left: 2px;
}
.addToWishList {
    margin-top: 24px;
    display: flex;
    column-gap: 16px;
    margin-bottom: 24px;
}

.addToWishList>.wishList>.heartIcon{
    width: 20px;
}
.addToWishList>.wishList>span{
    font-size: 19px;
    font-weight: bold;
}

.addToWishList>.compare>span{
    font-size: 19px;
    font-weight: bold;
}
.ReviewDescripQuestion{
    width: 600px;
}
.ReviewDescripQuestion>.nav{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 34px;
    align-items: start;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(214, 214, 214);
}
table{
    width: 100%;
}
td, th {
    text-align: left;
    padding: 8px;
  }
th{
    border-bottom: 1px solid rgb(214, 214, 214);
}